# Ignore Pycharm IDE
/.idea/

# Ignore models
/src/models/segmentation/segmentation_lv1/segmentation-lv1.pt
/src/models/segmentation/segmentation_lv1/SegmentationLevel1.onnx

# Ignore data
/data/

# Ignore training output and logs
/output/
/resources/output/
